#content {
    height: 100%;
    width: 100%;
    background-color: #3366cc;
    outline: solid 10px black;
    padding-top: 10%;
    padding-bottom: 10%;
}

.add {
    margin: 3px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.addCointainer {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

#clicker, #reset {
    margin: 10px;
}

#btn:active {
    transform: translateY(2px);
    transition: transform 0s;
}


#clicker:active, #reset:active {
    transform: translateY(1px);
    transition: transform 0s;
}

#clicker, #reset {
    transition: transform 0s;
}

html {
    height: 100%;
}

body {
    padding: 1em;
    text-align: center;
}

.cena {
    color: white;
    margin: 3px;
}

#cenaLabel {
    width: 100%;
    height: 32.39px;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    padding-bottom: 4px;
}

span.cena {
    font-size: 1em;
}

p#points {
    margin: auto;
    padding-bottom: 0.5em;
    text-align: center;
    font-family: "Impact";
    font-size: 5em;
    letter-spacing: 0.05em;
    color: white;
}
#pointsLabel {
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: "Impact";
    font-size: 3em;
    letter-spacing: 0.05em;
    color: white;
    position: relative;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}