#content {
    height: 100%;
    width: 100%;
    background-color: #3366cc;
    outline: solid 10px black;
    padding-top: 10%;
    padding-bottom: 10%;
}

.add {
    margin: 3px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.addCointainer {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

#clicker, #reset {
    margin: 10px;
}

html {
    height: 100%;
}

body {
    padding: 1em;
    text-align: center;
}

.cena {
    color: white;
    margin: 3px;
}

span.cena {
    font-size: 1em;
}

p#points {
    margin: auto;
    padding: 1em;
    text-align: center;
    font-family: "Impact";
    font-size: 5em;
    letter-spacing: 0.05em;
    color: white;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}